#define SECRETS_WIFI_SSID "SSID"
#define SECRETS_WIFI_PASSWORD "password"
#define SECRETS_MQTT_SERVER "host.mqtt.com"
#define SECRETS_MQTT_STATUS_TOPIC "status"
#define SECRETS_MQTT_SUBSCRIBE_TOPIC "control"
